*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #36C2CE !important;
    
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    justify-content: center;
}
h5{
    padding-top: 1rem;
}
button{
    border: none;
    padding: 10px;
    
}